.row.home
  .large-12.large-offset-0.small-12.columns.box-with-shadow.border-radius.with-padding
    %h1.center Share Room
    .row.info
      .large-6.columns.center
        %p.border-radius.box-with-shadow-min Szukanie mieszkania nigdy nie było tak proste
      .large-6.columns.center
        %p.border-radius.box-with-shadow-min Wynajmowanie nigdy nie było tak szybkie