.row.margin-top
  .large-6.large-offset-3.columns.box-with-shadow.with-padding.border-radius
    %h2
      Edycja profilu
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        =f.label 'Zmiana hasła' 
        %i (chcąc zachować stare pozostaw pole puste)
        %br/
        = f.password_field :password, autocomplete: "off", placeholder: 'Nowe hasło'
      .field
        = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Potwierdz nowe hasło'
      .field
        %i Podaj bieżące hasło w celu aktualizacji zmian
        %br/
        = f.password_field :current_password, autocomplete: "off"
      .actions
        = f.submit "Aktualizuj", class: 'button radius tiny '
    %h3 Cancel my account
    %p
      Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
    = link_to "cofnij", :back, class: 'additional-info'
