.row.margin-top
  .large-4.large-offset-4.columns.box-with-shadow.with-padding.border-radius
    %h2.margin-bottom Rejestracja
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        = f.email_field :email, autofocus: true, placeholder: 'Email'
      .field
        - if @minimum_password_length
          = f.password_field :password, autocomplete: "off", placeholder: "Hasło (minimum #{@minimum_password_length} znaków)"
        - else
          = f.password_field :password, autocomplete: "off", placeholder: "Hasło"
      .field
        = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Powtórz hasło'
      .actions
        = f.submit "Załóż konto", class: "button radius tiny"
    = render "devise/shared/links"
