%h1 Listing advertisements

%table
  %thead
    %tr
      %th User
      %th City
      %th District
      %th
      %th
      %th

  %tbody
    - @advertisements.each do |advertisement|
      %tr
        %td= advertisement.user
        %td= advertisement.city
        %td= advertisement.district
        %td= link_to 'Show', advertisement
        %td= link_to 'Edit', edit_advertisement_path(advertisement)
        %td= link_to 'Destroy', advertisement, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Advertisement', new_advertisement_path
