%p#notice= notice

%p
  %b User:
  = @advertisement.user
%p
  %b City:
  = @advertisement.city
%p
  %b District:
  = @advertisement.district

= link_to 'Edit', edit_advertisement_path(@advertisement)
\|
= link_to 'Back', advertisements_path
