.row.margin-top
  .large-4.large-offset-4.columns.box-with-shadow.with-padding.border-radius
    %h2.margin-bottom Logowanie
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.email_field :email,  autofocus: true, placeholder: 'Email'
      .field
        = f.password_field :password,  autocomplete: "off",  placeholder: 'Hasło'
      .actions
        = f.submit "Zaloguj", class: "button radius tiny"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
    = render "devise/shared/links"
