/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 */

  body{
  background-color: #e1e1e1;
}
.additional-info{
  font-size: 0.8em;
  color: #aeaeae;
}

.margin-top{
  margin-top: 1em;
}
.margin-bottom{
  margin-bottom: 1em;
}

.with-margin{
  margin: 1em;
}

.with-padding{
  padding: 1em;
}

.box-with-shadow{
  //border: 1px solid #8e8e8e;
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
}
.box-with-shadow-min{ //border: 1px solid #8e8e8e;
  background-color: white;
  box-shadow: 5px 5px 2px #888888;
}

.border-radius{
  border-radius: 10px;
}

.center{
  text-align: center;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #8e8e8e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #8e8e8e;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #8e8e8e;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #8e8e8e;
}

