.home{
  .info{
    margin-top: 2em;
    p{
      color: #4e4e4e;
      font-size: 1.2em;
      padding: 1em;
      
      border: 1px solid #dcdcdc;
      &:hover{
        border: 1px solid #c1c1c1;
        background-color: #ededed;
      }
     }
  }
}
