     <nav class="top-bar" data-topbar>
        <ul class="title-area">
           
          <li class="name">
            <h1>
              <%= link_to 'Share room', root_path%>
              
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
     
     	
        <section class="top-bar-section">
        <% if !user_signed_in? %>
          <ul class="right">
            <li class="divider"></li>
            <li class="divider"></li>
            <li>
       			<%= link_to new_user_session_path do%>
       				<%= image_tag 'arrow.ico'%> Logowanie	
  				<%end%>
           	</li>
            <li class="divider"></li>
            <li>
            	<%= link_to new_user_registration_path do%>
       				<%= image_tag 'add-user.ico'%> Rejesracja	
  				<%end%>
            </li>
          </ul>
        <%else%>
          <ul class="right">
            <li>
       			<%= link_to edit_user_registration_path do%>
       			 <%= current_user.email%>	
  				<%end%>
           	</li>
            <li class="divider"></li>
            <li>
            	<%= link_to  destroy_user_session_path, method: :delete  do%>
       				wyloguj	
  				<%end%>
            </li>
            <li><%= link_to 'Your Conversations', conversations_path %></li>
          </ul>
        <%end%>
        </section>
        
       
      </nav>

     